/* modification des parametre pour le texte "trivial poursuite"*/
/*h1 {
  font-size: 72px;
  color: purple;
  text-align: center;
  padding: 16px;
  margin-top: 50px;

}*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
 /*parametre de la page entiÃ¨re (la couleur de son fond)*/
 body {
  background-color: rgb(50, 90, 234);
  background-image: url(../assets/images/tetete.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  /*attribut pour placer le bouton sur la page*/
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:135vh;
    width: 100%;
  }

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
  }
  .container3 {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 94vh;
    width: 45%;
  }
  /* attribut permettant de changer le design du bouton et ses parametres*/
  .play-button {
    background-color: transparent;
    color: black;
    font-size: 32px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
  }
  
  .play-button2 {
    background-color: transparent;
    color: black;
    font-size: 30px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    transition: .2s ease-in-out;
  }

  .play-button3 {
    background-color: transparent;
    color: black;
    font-size: 32px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
  }

  /* Permet d'animer les boutons lorsque l'on passe la souris dessus */
  .play-button:hover {
    cursor: pointer;
    background-color: yellow;
    color: black;
  }

  .play-button2:hover {
    cursor: pointer;
    background-color: blue;
    color: black;
  }

  .play-button3:hover {
    cursor: pointer;
    background-color: green;
    color: black;
  }

 /* permet d'afficher les cookies en bas de page */
  .cookie-consent {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  .cookie-consent p {
    display: inline-block;
    margin: 0 auto;
    max-width: 80%;
  }
  
  .cookie-consent button {
    margin-left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .cookie-consent p {
      max-width: 100%;
    }
  }