/* modification des parametre pour le texte "trivial poursuite"*/
h1 {
  font-size: 72px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  margin-top: 50px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
 /*parametre de la page entière (la couleur de son fond)*/
body {
    background-color: rgb(50, 90, 234);
  }
  
  /*attribut pour placer le bouton sur la page*/
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  /* attribut permettant de changer le design du bouton et ses parametres*/
  .play-button {
    background-color: white;
    color: rgb(50, 90, 234);
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  