/* modification des parametre pour le texte "trivial poursuite"*/
/*h1 {
  font-size: 72px;
  color: purple;
  text-align: center;
  padding: 16px;
  margin-top: 50px;

}*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
 /*parametre de la page entière (la couleur de son fond)*/
 body {
  background-color: rgb(50, 90, 234);
  background-image: url(../assets/images/tetete.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  /*attribut pour placer le bouton sur la page*/
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
  }
  /* attribut permettant de changer le design du bouton et ses parametres*/
  .play-button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  