
body {
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
  }
  
  .container {
    position: relative;
    overflow: hidden;
    min-height: 500px;
    width: 750px;
    max-width: 100%;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 0 8px 24px rgb(0, 32, 64);
  }
  
  /* Le container pour la partie connexion et création */
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
  }
  
  /* Creation */
  .sign-up-container {
    left: 0;
    width: 50%;
  }
  
  /* Connexion */
  .log-in-container {
    right: 0;
    width: 50%;
  }
  
  /* Le Format des deux formulaires */
  form {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  /* Les inputs */
  input {
    background-color: aquamarine;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    width: 100%;
  }
  
  /* Les boutons */
  button {
    background-color: azure;
    color: black;
    border: 1px solid black;
    font-size: medium;
    padding: 10px 10px;
    margin-top: 20px;
    letter-spacing: 1px;
    border-radius: 2px;
    border-color: black;
    transition: .2s ease-in-out; 
  }
  
  /* Animation du bouton lorsqu'on le survole */
  button:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: black;
  }
  
  /* Titre Connexion */
  h1 {
    margin-bottom: 25px;
    font-size: 40px;
  }
  
  /* Titre Créer un compte et J'ai deja un compte */
  h2 {
    margin: 0;
    font-size: 32px;
  }
  
   /* The alert message box */
   .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  } 