*{
	box-sizing:border-box;
}
/* page en general on peut changer sa couleur etc...*/
body {
  background-color:beige;
    position: relative;
    justify-content: top;
    width: 1690px;
    height: 940px;
  }
  
  .corps{
    position: absolute;
    overflow: hidden;
    width: 1690px;
    height: 940px;
    border-radius: 10px;
    background-color: #34495e;
    box-shadow: 0 8px 24px rgb(0, 32, 64);

  }
  /* Section réservé pour l'affichage du dé (finis mais en attente)
  
  Pour le dé aussi  */
  


  .containerProfil {  
  height: 30%;
  width: 75%;

  }

 /* Pour le lancement de dés en commentaire pour le moment mais fonctionne pour 
 un chiffre entre 1 et 6*/
 
 #de {

    width: 100%;
    height: auto;
  }

  
  
  
  /* Gere l'emplacement global des Profils generés */
  .container2 {
    top: 30%;
    right: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 3%;
    height: 35%;
    flex-direction: row;
  }
  .container3 {
    top: 30%;
    right: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 3%;
    height: 250px;
    flex-direction: row;
  }
  /* rectangle sont placé les élements de chaque joueurs (Camenbert et Nom joueur)*/
  .rectangle {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border: 5px solid black;
    border-radius: 10%;
    margin-bottom: 10px;
    /* permet de decaler les rectangles vers la droite en modifiant la valeur du margin*/
    margin-left: 10px;
  }

  /* espace entre chaque rectangle représentant chaque joueur selon si il y a 2/3/4 joueurs*/
  .rectangle:not(:last-child) {
    margin-right: 10px;
  }
 
  /* ecriture joueur1/2/3 dans le rectangle*/
  .rectangle span {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* création du camenbert (le cercle)*/
  .camenbert {
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    border: 5px solid black;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  
  /* création d'une part mere du camenbert*/
  .part{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 0 0, 65% 0);
    transform-origin: center;
 
   
    

  }

  
  
  /* partie 1 du camenbert, on lui donne sa position (angle) ainsi que sa couleur*/
  .part-1 {
    transform: rotate(0deg);
  }
  
  /* partie 2 du camenbert, on lui donne sa position (angle) ainsi que sa couleur*/
  .part-2 {
    transform: rotate(60deg);
  }
  
  /* partie 3 du camenbert, on lui donne sa position (angle) ainsi que sa couleur*/
  .part-3 {
    transform: rotate(120deg);
  }
  
  /* partie 4 du camenbert, on lui donne sa position (angle) ainsi que sa couleur*/
  .part-4 {
    transform: rotate(180deg);
  }
  
  /* partie 5 du camenbert, on lui donne sa position (angle) ainsi que sa couleur*/
  .part-5 {
    transform: rotate(240deg);
  }
  
  /* partie 6 du camenbert, on lui donne sa position (angle) ainsi que sa couleur*/
  .part-6 {
    transform: rotate(300deg);
  }


.line {
  position: absolute;
  top: -15%;
  left: 50%;
  width: 0;
  height: 130%;
  border-left: 5px solid black;
}

.line1 {
  transform: rotate(15deg);

}

.line2 {
  transform: rotate(75deg);
}

.line3 {
  transform: rotate(135deg);
}

.validation {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.validation button {
  padding: 10px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

.validation button:hover {
  background-color: #27ae60;
}


/* modification de l'espace question*/
.question {
  position: absolute;
	background-color: beige;

  max-width: 100%;
  border-radius: 10px;


  box-shadow: 0 8px 24px rgb(0, 32, 64);

	padding: 10px;
	width: 25%;
	float: right;

  position: absolute;
  top: 30%;
  right: 5%;
 
}

/*modification de l'espace reponse dans l'espace question*/
.reponse {
  position: absolute;
	width: 100%;
  height: 180%;

  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 80px;
	padding: 10px;
  background-color: beige;
  border-radius: 10px;
 
  box-shadow: 0 8px 24px rgb(0, 32, 64);
	float: right;
	border: 1px solid #000000;

  
  top: 80%;
  right: 0%;
}

.idgame {
  position: absolute;
	width: 20%;
  height: 10%;

  margin-left: 50px;
  margin-top: 80px;
	padding: 10px;
  background-color: beige;
  border-radius: 10px;
 
  box-shadow: 0 8px 24px rgb(0, 32, 64);
	float: right;
	border: 1px solid #000000;

  
  top: 5%;
  right: 5%;
}

.textIdGame {
  position: absolute;
  top: 50%;
}

.button-idgame {
  position: absolute;
  top: 50%; 
  right: 10%;
}

h3 {
  position: absolute;
  top: 0; 
}

form {
  top: 100%;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  height: 100px;
  font-size: 32px;
}

/*Roue qui tourne*/


.container{
  top : 25%;
  left: 10%;
	width:650px;
	height:650px;
	border-radius:50%;
	border:15px solid rgb(0, 0, 0);
	position: relative;
	overflow: hidden;
  background-color:blue;
  transition: 5s;
}

.container div{
	height:50%;
	width:350px;
	position: absolute;
	clip-path: polygon(80%  0%, 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	background-color:blue;
	left:135px;
 
  
}

.container .one{
	background-color: blue;
	left:52%; 
}
.container .two{
	background-color:orange;
	transform: rotate(53deg);
}
.container .three{
	background-color: pink;
	transform:rotate(98deg);
}
.container .four{
	background-color:green;
	transform: rotate(143deg);
}
.container .five{
  background-color: yellow;
	transform: rotate(188deg);
}
.container .six{
	background-color: #795548;
	transform: rotate(233deg);
}
.container .seven{
	background-color: purple;
	transform: rotate(278deg);
}
.container .eight{
	background-color: red;
	transform: rotate(318deg);
}

div.one, div.two, div.three, div.four, div.five, div.six, div.seven, div.eight {
  font-size: 5rem; /* ajuster la taille selon vos préférences */
}

#spin{
	position: absolute;
	top: 58%;
	left: 29%;
	transform: translate(-50%, -50%);
	z-index:10;
	background-color:solid black;
	text-transform: uppercase;
	border:8px solid #000000;
	font-weight:bold;
	font-size:20px;
	color:#ffffff;
	width: 120px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;

}
/* gestion du bouton pour quitter la partie */
.menu {
  position: absolute;
  top: 1%;
	right: 1%;
}

.menu button {
  padding: 10px;
  background-color: #cc2e2e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 32px;
}

.menu button:hover {
  background-color: #ae2727;
}

.arrow {
  position: absolute;
	top: 26%;
	left: 27.7%;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid rgb(0, 0, 0);
 
}



.regle {
  position: absolute;
  top: 1%;
	right: 18%;
}

.regle button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 32px;
}

.regle button:hover {
  background-color: rgb(2, 110, 2);
}